@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

body {
    font-family: Arial, sans-serif;
    h1 {
        font-size: 40px;
        margin: 0;
        font-family: Archivo Black;
    }
    h2 {
        font-size: 20px;
        margin: 0;
        font-family: Archivo Black;
    }
    p {
        font-size: 12px;
        margin: 0;
        font-family: Arial Black;
    }
    padding {
        padding: 20px; /* This adds a padding of 20px to the entire body content */
    }
}
.container {
    display: flex;
    padding: 50px;
    justify-content: space-between;
}
.left {
    flex: 1; /* 1/3 of the container */
    padding-right: 10px; /* Add some space between the left and right columns */
}
.right {
    flex: 2; /* 2/3 of the container */
    padding-left: 10px; /* Add some space between the left and right columns */
}
.hero {
    background-color: #e6e6e6;
    text-align: center;
}